/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    position: relative;
    height: 100%;
    min-height: 1px;
    outline: 0;
    overflow: hidden;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide a {
    outline: 0;
}
.slick-slide img {
    display: block;
    margin: 0 auto;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
}
.slick-arrow {
    font-size: 0;
    overflow: hidden;
    outline: 0;
    line-height: 0;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* main visual arrow */
.slider-control .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    margin-top: -80px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 30px #eee;
    -moz-box-shadow: 0 2px 30px #eee;
    box-shadow: 0 2px 30px #eee;;
}
.slider-control .main-prev {
    left: 8.5%;
}
.slider-control .main-next {
    right: 7%;
}
/* main visual dot */
.slider-control .slick-dots {
    position: absolute;
    left: 4.5%;
    bottom: 0;
    color: transparent;
}
.slider-control .slick-dots li {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}
.slider-control .slick-dots li button {
    width: 6px;
    height: 6px;
    background: #ccc;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.slider-control .slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    border: 2px solid #ccc;
    background: transparent;
}
/* main visual paging */
.main-visual .slick-paging {
    position: absolute;
    left: 0;
    top: -35px;
    width: 95%;
    max-width: 1000px;
    text-align: right;
}
.main-visual .counter {
    display: inline-block;
    font-size: 1rem;
}
.main-visual .counter span {
    display: block;
}
.main-visual .counter span:before {
    content: "0"
}
.main-visual .counter .current {
    text-align: left;
}
.main-visual .counter .total {
    width: 80px;
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid #ccc;
    color: #999;
}

@media screen and ( max-width: 576px ) {
    .slider-control .arrow {
        display: none;
    }
}

/* manual slider arrow */
.manual-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 55px;
    height: 80px;
    margin-top: -50px;
    cursor: pointer;
    background-image: url("../images/portfolio/shobizAdm/arrow.png");
    -webkit-background-size: 110px;
    -moz-background-size: 110px;
    background-size: 110px;
}
.manual-slider .slick-prev {
    left: 10%;
}
.manual-slider .slick-next {
    right: 10%;
    background-position: -55px 0;
}
/* manual slider dots */
.manual-slider .slick-dots {
    position: absolute;
    bottom: 20%;
    width: 100%;
}
.manual-slider .slick-dots li {
    display: inline-block;
    margin: 0 .7rem;
    vertical-align: middle;
}
.manual-slider .slick-dots li button {
    width: 7px;
    height: 7px;
    background: #ddd;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.manual-slider .slick-dots li.slick-active button {
    background: #ec6863;
}