.tool-bar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.75em;
    white-space: nowrap;
}
.tool-bar .bar-left {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.search {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
@media screen and (max-width: 425px) {
    .search {
        margin-top: 5px;
    }
}

.search-dropdown,
.state-dropdown {
    margin-left: 6px;
    width: 140px;
}
.search-dropdown .btn-txt,
.state-dropdown .btn-txt {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.search-input {
    width: 200px;
    margin-left: -2px;
}

.doc-list .table .ant-table-tbody tr.ant-table-expanded-row {
    display: block;
    position: absolute;
    left: 295px;
    width: calc(100% - 295px);
    background: #fafafa;
    max-height: 600px;
    border: 1px solid #e4e4e4;
    z-index: 9;
}
@media screen and (max-width: 768px) {
    .doc-list .table .ant-table-tbody tr.ant-table-expanded-row {
        left: 0;
        width: 100%;
    }
}
.doc-list .table .ant-table-tbody tr.ant-table-expanded-row td {
    width: 100vw;
}

@media screen and (max-width: 768px) {
    .doc-list .table .ant-table-row td:first-child,
    .doc-list .table .ant-table-row td:nth-child(4),
    .doc-list .table .ant-table-row td:nth-child(5),
    .doc-list .table .ant-table-thead {
        display: none;
    }
    .doc-list .table .ant-table-row td:nth-child(2) {
        width: 30%;
    }
    .doc-list .table .ant-table-row td:nth-child(3) {
        width: 50%;
    }
}


.ant-dropdown-menu {
    position: relative;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateZ(0);
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: rgba(0,0,0,.85);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    background-color: #f5f5f5;
}