$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-pc: 1200px;
$breakpoint-visual: 1400px;
$breakpoint-wide: 1600px;

@mixin breakpoint($point) {
	@if $point == wide {
		@media only screen and (max-width: $breakpoint-wide) {
			@content;
		}
	}
	@if $point == visual {
		@media only screen and (max-width: $breakpoint-visual) {
			@content;
		}
	}
	@if $point == pc {
		@media only screen and (max-width: $breakpoint-pc) {
			@content;
		}
	}
	@if $point == desktop {
		@media only screen and (max-width: $breakpoint-desktop) {
			@content;
		}
	}
	@else if $point == tablet {
		@media only screen and (max-width: $breakpoint-tablet){
			@content;
		}
	}
	@else if $point == mobile {
		@media only screen and (max-width: $breakpoint-mobile) {
			@content;
		}
	}
}

/*
.text-slider .ex {

    @include breakpoint(desktop){
        width: 100%;
    }

}
*/