@charset "utf-8";

/* Common 공통*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    font-family: "Apple SD Gothic Neo", Malgun Gothic,"맑은 고딕",Dotum,"돋움","Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width:320px;
    letter-spacing:-0.5px;
}
body {
    position: relative;
    background-color: #fff;
    color: #000;
    -webkit-text-size-adjust: none;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
    margin: 0;
    padding: 0;
}
img,fieldset, button {
    border: 0;
}
button {
    background: transparent;
}
ul,ol,li {
    list-style: none;
}
em,address {
    font-style: normal;
}
b,strong {
    font-weight: 700;
}
a {
    font-size: 1em;
    color: #333;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover, a:active {
    color: #333;
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
legend, caption {
    display: none;
}
textarea, input, select {
    background: none;
    -webkit-border-radius: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    text-decoration: none!important;
    white-space: nowrap;
    vertical-align: top;
    overflow: visible;
    cursor: pointer;
}
header {
    margin: 0;
    padding: 0;
    border: 0;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.center {
    text-align: center;
}
.t-right {
    text-align: right !important;;
}
.t-left {
    text-align: left !important;
}
.t-center {
    text-align: center;
}

.float_l {
    float: left;
}
.float_r {
    float: right;
}
.fl-none {
    float: none!important;
}
.pd-none {
    padding: 0!important;
}
.d-block {
    display: block!important;
}
.d-b {
    display:block !important;
}
.w_auto {
    width: auto!important;
}
.w_full {
    width: 100%;
}
.w_90p {
    width:90% !important;
}
.w80 {
    width:80px !important;
}
.w100 {
    width:100px;
}
.inline-block {
    width: auto;
    display: inline-block!important;
}
.in-block {
    width:inherit !important;
    vertical-align:middle;
    display:inline-block !important;
}
.number-coma{text-align:right !important;}
.number-coma2{text-align:right !important;padding-right:12px !important;}
.hide {
    display: none;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: -1;
}
.hidetext {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.input-al {
    height:34px;
    display:inline-block;
    line-height:31px;
    vertical-align:top !important;
}
.c_point {
    color:#c12e2a !important;
}
.bg_c01 {
    color:#f14531!important;
    font-weight:700;
}
.yellow {
    color: #ffa800;
}
.c-day {
    color: #e26c6c;
}
.red {
    color: red;
}
.sky {
    color: #1db7fe;
}
.gray{
    color: #848992;
}

.pdl-none { padding-left: 0!important; }
.pdr-none { padding-right: 0!important; }
.pdr3 { padding-right:3px !important; }
.pdr5 { padding-right: 5px !important; }
.pdr10{ padding-right:10px !important}
.pdr15{ padding-right:15px !important}
.pd15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.pd50 { padding-top:50px !important;padding-bottom: 50px !important}
.pdl5 { padding-left:5px !important; }
.pdl8 { padding-left:8px !important; }
.pdl10 { padding-left: 10px !important; }
.pdl15 { padding-left: 15px !important; }
.pl25 {padding-left: 25px}
.pd-15 { padding: 15px !important; }
.pd-30 { padding:30px !important; }
.pt10 { padding-top: 10px!important; }
.pt15 { padding-top: 15px!important; }
.pt20 { padding-top: 20px!important; }
.pt50 { padding-top:50px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb15 { padding-bottom: 15px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb50 { padding-bottom:50px!important; }
.ml2 { margin-left: 2px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left:30px !important; }
.mt2 { margin-top: 2px !important; }
.mgt4 { margin-top: 10px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px !important; }
.mgt5 { margin-top: 5px; }
.mt7 { margin-top: 7px !important; }
.mt-7 { margin-top: -7px !important; }
.mt10 { margin-top: 10px !important; }
.mgt10 { margin:10px 0; }
.mt14 { margin-top: 14px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mgt20 { margin-top: 20px; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt100 { margin-top: 100px !important; }
.mr0{margin-right:0 !important}
.mr1 { margin-right: 1px !important; }
.mr3 { margin-right: 3px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr40 { margin-right: 40px !important; }
.mb2 { margin-bottom: 2px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb7 { margin-bottom: 7px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.ml7 { margin-left: 7px !important; }

.h-auto{height:auto !important}

.fnot_11{font-size: 11px !important;}
.fnot_12{font-size: 12px !important;}
.fnot_14{font-size: 14px !important;}
.fnot_16{font-size: 16px !important;}
.fnot_18{font-size: 18px !important;}
.fnot_20{font-size: 20px !important;}

.top_10p{top:10% !important}

.display-none{display:none}

.vertical-t { vertical-align:top !important; }
.vertical-m { vertical-align:middle !important; }
.vertical-b { vertical-align:bottom !important; }